*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

*::selection{
	background-color: hsla(277, 64%, 61%, 0.7);
}

body{
	background-color: hsl(233, 47%, 7%);
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}

body::-webkit-scrollbar {
	width: 10px;
}

body::-webkit-scrollbar-track {
	border-radius: 6px;
	background-color: transparent;
}

body::-webkit-scrollbar-thumb {
	background-color: hsl(277, 100%, 50%);
	border-radius: 6px;
}

body::-webkit-scrollbar-thumb:hover {
	background-color: hsl(277, 100%, 43%);
	border-radius: 6px;
}

body::-webkit-scrollbar-thumb:active {
	background-color: hsl(277, 75%, 29%);
	border-radius: 6px;
}

main{
	width: 1115px;
	height: 450px;
	display: flex;
	border-radius: 10px;
	overflow: hidden;
}

section{
	width: 50%;
}

section#text{
	background-color: hsl(244, 38%, 16%);
	padding: 75px 90px 80px 75px;
	display: flex;
	flex-direction: column;
}

#mainImg{
	height: 100%;
	width: 100%;
	display: block;
	filter: brightness(90%);
}

section#image{
	position: relative;
}

section#image:after{
	position: absolute;
	top: 0px;
	left: 0px;
	content: "";
	height: 100%;
	width: 100%;
	background-image: linear-gradient(hsla(277, 45%, 53%, 0.5), hsla(277, 45%, 53%, 0.5)),
		linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
	filter: contrast(150%);
}

h1{
	font-size: 35px;
	color: white;
	font-family: "Inter", sans-serif;
	font-weight: 700;
	margin-bottom: 30px;
}

#accent{
	color: hsl(277, 64%, 61%);
}

p{
	color: hsla(0, 0%, 100%, 0.75);
	font-size: 15px;
	font-family: "Inter", sans-serif;
	font-weight: 400;
	line-height: 160%;
}

#spacer{
	flex-grow: 1;
}

#stats{
	display: flex;
}

.stat{
	width: calc(100% / 3);
}

.stat h2{
	font-size: 22px;
	color: white;
	font-family: "Inter", sans-serif;
	font-weight: 700;
}

.stat h4{
	color: hsla(0, 0%, 100%, 0.6);
	font-weight: 400;
	text-transform: uppercase;
	font-family: "Lexend Deca", sans-serif;
	font-size: 13px;
	margin-top: 6px;
}

@media(max-width: 550px){
	main{
		flex-grow: 1;
		margin: 85px 20px;
		flex-wrap: wrap-reverse;
		height: auto;
	}
	
	section{
		width: 100%;
	}
	
	section#image{
		height: 240px;
	}
	
	section#text{
		padding: 45px 35px 80px 40px;
	}
	
	h1{
		text-align: center;
		margin-bottom: 20px;
		line-height: 1.2;
	}
	
	p{
		text-align: center;
	}
	
	#spacer{
		flex-grow: 0;
		height: 15px;
	}
	
	#stats{
		flex-direction: column;
		align-items: center;
	}
	
	.stat{
		margin-top: 35px;
	}
	
	.stat h2, .stat h4{
		text-align: center;
	}
}